#slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #slideshow > div {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    overflow: hidden;
}
#slideshow > div > img{
    width: 100%;
    height: 100%;
    position: relative;
}

.login-details {
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}
.user-image{
    background: url(./../images/User.png);
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-size: contain;
}

#button-group{
    margin: 20px;
}
#login_container{
    height: calc(100% - 100px);
    top: 70px;
    position: absolute;
    margin: 10px;
    width: 99%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
  border-radius:6px;
}