#main_container{
    width: 100%;
    height: calc(100% - 61px);
    top: 60px;
    position: absolute;
    margin: 0;
}
.left-pane{
    width: 240px;
    height: 100%;
    position: relative;
    float: left;
    padding: 10px;
    overflow: auto;
}
.right-pane{
    width:calc(100% - 240px);
    height: 100%;
    position: relative;
    float: left;
    padding: 10px;
    background: #fff;
    overflow: auto;
}
.list-group-item{
    font-size: 18px;
    color: #1976D2;
    text-align: center;
}
.list-group-item:hover,.list-group-item.active{
    background: #1976D2;
    color: azure;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
  border-radius:6px;
}

.card.right-pane-content{
    width: 95%;
    margin: 0 auto;
}